* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
  
}
.container-left {
    display: inline-block;
    width: 60%;
    padding: 136px;
    margin-top:  20%;
    
}

.container-right {
    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    width: 40%;
    height: 100vw;
    position: absolute;
}   

img {
    position: relative;
    top:  25%;
    right: 130px;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    color: rgba(93,93,125,1);
    line-height: 80px;
    letter-spacing: 0px;
    width: 368px;
}

p {
    
    font-weight: 400;
    font-size: 28px;
    color: rgba(93,93,125,1);
    line-height: 48px;
    letter-spacing: 0px;
    margin-top: 20px;
    width: 540px;

}

button {
    width: 200px;
    height: 60px;
    background-color: rgba(148, 153, 234, 0.98); 
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: rgba(93,93,125,0.98); 
}

button:active {
    transform: scale(0.98);
}

a {
    font-size: 28px;
    line-height: 41px;
    color: rgba(93,93,125,1);
    margin-right: 41px;
    cursor: pointer;

}   

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
        opacity: 0.8;
}

header {
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px){

    .container-left {
        display: block;
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    } 

    img {
        position: relative;
        max-width: 90%;
       
    }

    h1 {
        font-size: 40px;
        width: auto;
        line-height: 50px;
        margin: 58px 50 0 50;
        text-align: center
    }

    p {
        margin: 15px 40px;
        font-size: 20px;
        width: auto;
        line-height: 30px;
        text-align: center;
    }

    button {
        display: block;
        margin: 0 auto;
    }

    header {
        display: none;

    }
    
}